---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <div class="post-content">
      <h1 class="post-title"><a href="{{site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      {{ post.excerpt | strip_html | truncatewords:50 | strip_newlines }}
    </div>
  </div>
  {% endfor %}
  <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  </div>
</div>
<span style="display:none" class="h-card">
  <img class="u-photo" src="{{ site.baseurl }}/img/profile.png" alt="profile photo" />
  <a class="p-name u-url" href="https://lildude.co.uk">{{ site.name }}</a>
  <span class="u-email">lildood@gmail.com</span>
  <span class="p-note">GitHub developing, beer drinking, barefoot &amp; minimalist running fundi.</span>
  <span class="p-country-name">United Kingdom</span>
</span>
