html {
  font-size:16px;
}

body {
  font-family:"PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
}

/*---:[ Image alignment ]:---*/
img.alignleft, img.left { float: left; margin-right: 10px }
img.alignright, img.right { float: right; margin-left: 10px }
img.aligncenter, img.center { clear: both; display: block; float: none; margin: 0 auto; }
img.alignnone, img.block { clear: both; display: block; }
img[align="left"] { clear: left; float: left; margin-right: 10px }
img[align="right"] { clear: right; float: right; margin-left: 10px }
img[align="middle"] { clear: both; display: block; float: none; margin: 0 auto; }
/* Everywhere */
/*---:[ Other Alignment ]:---*/
.center, .centered { margin: 0 auto; text-align: center; }
.alignright { float: right; margin-left: 1.571em; }
.alignleft { float: left; margin-right: 1.571em; }

/* Everywhere */
embed, object, video, iframe { max-width: 100%; }


.masthead {
  background:#fafafa;
  border-bottom:1px solid #ededed;
  margin-bottom:32px;
}

.post {
  margin-bottom:32px;
}

.container.content {
  padding-bottom:12px;
}

.masthead-title {
  font-size:15px;
}

.masthead a {
  color:#555;
}

.meta {
  font-size:12px;
  color:#999;
  position:relative;
  padding-left:28px;
  margin-bottom:2em;
}

.post-author-image {
  position:absolute;
  top:-1px;
  left:0;
  width:20px;
  height:20px;
}

.post-author-image:after {
  content:'';
  width:20px;
  height:20px;
  position:absolute;
  top:0;
  left:0;
  border-radius:16px;
  box-shadow:inset rgba(0,0,0,0.1) 0 0 0 1px;
}

.meta img {
  width:20px;
  height:20px;
  border-radius:16px;
  margin-right:12px;
}

.post-author {
  font-weight:bold;
}

.meta a {
  color:#444;
}

.discussion a {
  color:#444;
  padding:8px 12px;
  margin-top:12px;
  border:1px solid #ededed;
  border-radius:3px;
  font-size:15px;
  font-weight:bold;
  background:#f8f8f8;
}

.base {
  border-top:1px solid #efefef;
  padding:20px 0;
  font-size:12px;
}

.base a {
  color:#555;
  font-weight:bold;
}

.page-list {
  float: right;
  margin-top: -17px;
  font-size: 13px;
}

.page-list li {
  display: inline;
  margin-left: 10px;
}
